name: SonarQube Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sonar:
    runs-on: self-hosted

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build, Test, JaCoCo, SonarQube
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          .\gradlew.bat clean test jacocoTestReport sonar